*{
	margin : 0;
	padding :0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box; 
}

body{
	font-family: Akzidenz,"Helvetica Neue",Helvetica,Arial,sans-serif;
	width: 100%;
}

header,footer,section,article,div,nav,figure{
	display: block;
}

nav ul,
nav li{
	list-style: none;
	display: inline-block;
	padding: 0;
	margin: 0;
}
footer{
	padding-top: 8px;
}
footer nav ul,
footer nav li{
	display: list-item;
}
.clear{
	clear: both;
}

dl{

}
h1{
	display: block;
	font-size: 2em;
	font-weight: bold;
}
dl dt:nth-of-type(2n),
dl dd:nth-of-type(2n){
	background: #F1F1F1;
}

dt{
	display: inline-block;
	width: 33%;
	padding: 8px;
	text-align: right;
	text-transform: capitalize;
	margin: 0px;
	vertical-align: top;
}
dt:after{
	content: " : ";
}
dd{
	display: inline-block;
	width: 66%;
	padding: 8px;
	margin: 0px;
	position: relative;
	left: -8px;
}

a{
	text-decoration: none;
	color: blue;
}

a:hover{

}
a img{
	border: none;
}
/*-------------------Table-------------------*/
table,tbody {
	width: 100%;
	border: 1px solid #bebebe;
	border-radius: 5px;
	border-bottom: none;
}
table{
	border-collapse: collapse;
}
thead tr{
	border: 1px solid #BEBEBE;
	margin-bottom: 0;
	padding: 0 8px;
	background: linear-gradient(to bottom, rgba(237,237,237,1) 5%,rgba(223,223,223,1) 100%);
	height: 32px;
}
tbody {

}
tbody tr:nth-child(2n){
	background: #F1F1F1;
}
td,th {
	padding: 2px;
	border-bottom: 1px solid #bebebe;
}
th a,
th a:visited{
	text-decoration: none;
	color: #000000;

}
th a:hover{
	color: #333333
}
tr .actions{
	text-align: center;
}

dl{

}

dl dt:nth-of-type(2n),
dl dd:nth-of-type(2n){
	background: #F1F1F1;
}

dt{
	display: inline-block;
	width: 33%;
	padding: 8px;
	text-align: right;
	text-transform: capitalize;
	margin: 0px;
	vertical-align: top;
}
dt:after{
	content: ":"
}
dd{
	display: inline-block;
	width: 66%;
	padding: 8px;
	margin: 0px;
	position: relative;
	left: -8px;
}

/*---------------Form------------------*/
form {
	clear: both;
}
fieldset {
	border: none;
	-webkit-appearance: none;
	outline: none;
}
fieldset legend {
	color: #484E52;
	font-size: 0.8em;
	font-style: italic;
	margin-bottom: 1em;
}

form div {
	clear: both;
	vertical-align: text-top;
}

form .hidden{
	display: none
}

form .required {
	font-weight: bold;
}
form .required label:after {
	color: #e32;
	content: '*';
	display:inline;
}
form div.submit {
	border: 0;
	clear: both;
	margin-top: 10px;
}
label {
	display: inline-block;
	margin-bottom:3px;
	width: 30%;

	font-size: 0.9em;
	text-transform: capitalize;
	text-align: right;
}
input,
textarea {
	padding: 3px;
	margin: 3px;
	background-color: transparent;
	border: 1px solid #CED2CF;
}
input:focus{
	
}

textarea:focus {

}

select {
	clear: both;
	font-size: 100%;
	width: 60%;
	vertical-align: text-center;
	padding: 2px;
}
select[multiple=multiple] {
	width: 100%;
}
option {
	font-size: 1em;
	padding: 0 3px;
}
input[type=checkbox] {
	margin: 0px 6px 7px 2px;
	width: auto;
}

div.checkbox label {
	position: inherit;
	transform:none;
}

input[type=radio] {
	float:left;
	width:auto;
	margin: 6px 0;
	padding: 0;
	line-height: 26px;
}
button[type=submit]{
	
}
.radio label {
	margin: 0 0 6px 20px;
	line-height: 26px;
}
input:invalid{
	box-shadow: none;
}
input[type=submit] {
	display: inline;
	font-size: 1.1em;
	width: auto;
}
nav input[type=file] {

	display: none;
}
nav input[type="file"] + label,  
nav input[type="file"] + label{  
	cursor: pointer;
	width: auto;
	padding: 0 4px;
}


*[class^="btn-"] {
	display: inline-block;
	height: 32px;
	margin: 8px;
	padding: 0 4px;
	line-height: 28px;
	vertical-align: top;

	font-family: Akzidenz,"Helvetica Neue",Helvetica,Arial,sans-serif;
	text-decoration: none;
	text-align: center;
	color: #000;
	
	border-radius: 1px;
	border-width: 1px;
	border-style: solid;
	background-color : rgba(105,178,65,0.1);
	border-color : rgba(105,178,65,1);
	transition:all 0.2s;

	cursor: pointer;
}
*[class^="btn-"] a{
	font-family: Akzidenz,"Helvetica Neue",Helvetica,Arial,sans-serif;
	text-decoration: none;
	text-align: center;
	line-height: 28px;
	color: #000;
}

*[class^="btn-"]:hover{
	background-color : rgba(105,178,65,0.8);
	border-color : rgba(105,178,65,1);
}


*[class^="btn-menu"]{
	height: 24px;
	line-height: 22px;
	margin: 0;
}
*[class^="btn-action"]{
	height: 26px;
	width: 26px;
	line-height: 24px;
	border-radius: 3px;
	color: #000;
    font-family: arial,sans-serif;
    margin: 2px;
    padding: 0;

    border-radius: 2px;
}
.paging li{
	display: inline-block;
}
.paging{
	display: block;
	text-align: center;
}
.paging-curent,
.paging-disabled{
	display: none;
}
/*-------------header-------------------*/
#Header{
	background-color: #69b241;
	color: #FFF;
	height: 60px;
}
#Header h1{
	display: inline-block;
	vertical-align: top;
	margin: 12px 16px;
}
/*-------------Menu-------------------*/
#Menu {
	height: 60px;
	background: #303030;
	z-index: 10;
	display: inline-block;
	vertical-align: top;
}
#Menu ul,
#Menu li{
	vertical-align: top;
	height: 60px;
	display: inline-block;
}

#Menu a{
	height: 60px;
	line-height: 60px;
	display: inline-block;
	padding: 0 16px;
	
	font-weight: bold;
	color:#FFF;
	text-align: center;
	text-decoration: none;
	text-transform: capitalize;

	position: relative;
	transition: all 0.2s ease-out ;
}
#Menu a:hover{
	color: #BEBEBE;
	text-shadow: 0 0 50px #FFF;
}
#Menu a:before,
#Menu a:after{
	content: '';
	position: absolute;

	height: 3px;
	width: 100%;
	background-color: #BEBEBE;
	transition: transform 0.2s ease-out ;
}
#Menu a:before{
	top: 0;
	left: 0;
	transform-origin: center top 0px;
	transform: perspective(200px) rotate3d(1,0,0,-90deg);	
}
#Menu a:after{
	bottom: 0;
	left: 0;
	transform-origin: center bottom 0px;
	transform: perspective(200px) rotate3d(1,0,0,90deg);
}
#Menu a.active:before,
#Menu a:hover:before{
	transform: rotate3d(1,0,0,0deg);
}
#Menu a.active:after,
#Menu a:hover:after{
	transform: rotate3d(1,0,0,0deg);
}
.pages-menu{
	padding-bottom: 4px;
}

.action-menu ul {
    display: block;
    text-align: right;
    vertical-align: bottom;
}
.action-menu{
}
/*--------------------------------*/
#SideBar{
	display: inline-block;
	width: 25%;
	position: relative;
	bottom: 0;
	vertical-align: top;
	padding: 8px;
}
#Contents{
	display: inline-block;
	width: 74%;
	vertical-align: top;
	padding: 8px;
}
#Footer{
	border-top: 1px solid #69B241;
	text-align:right;
	color: #969896;
	font-style: italic;
	padding: 8px;
}
#Footer a {
	color: #424242;
}
/*--------------------------------*/
#Error {
	width: 80%;
	margin: auto;
}
#Error header{
	margin-bottom: 8px;
}
#Error .debug-message{
	border: none;
}
.legend{
	color: #303030;
	font-size: 0.8em;
	font-style: italic;
	line-height: 20px;
}
.trace{
	display: block;
	background-color:#BEBEBE;
}

.trace>div:nth-child(2n){
	color: #FFF;
	text-align: right;
	background-color:#000;
}
div[class*='trace-']{
	display: inline-block;
	margin: 2px;
}
.trace-args{
	text-align: left;
	display: none;
}
.trace-type,
.trace-function{
	color:#7AA6DA;
}
.trace-class{
	color: #04b431;
}
.trace-line{
	font-weight: bold;
}
.hideaway-btn{
	cursor: pointer;
}


.db-link-mini,
.db-link{
	color: #000;
	display: block;
	font-size: 1.2em;
	padding: 4px 8px;
	text-decoration: none;
	width: 100%;
	border-bottom: 2px dashed #303030;
}

.db-link-mini{
	font-size: 0.8em;
	width: 90%;
	margin: auto;
	border-width: 1px;
}

.db-link-mini:hover,
.db-link:hover{
	background-color: rgba(105, 178, 65, 0.1);
}

.db-name{
	color:#000;
	line-height: 20px;
}
.db-size{
	color:#303030;
	font-size: 0.8em;
	font-style: italic;
	float: right;
	line-height: 20px;
}
.document{
	padding-top: 4px;
}
.document nav,
#Document nav{
	margin-bottom: 4px;
}
#Document footer>div{
	display: inline-block;
	width: 40%;
	vertical-align: top;
}

.bson-type{
	font-size: 0.8em;
	display: inline-block;
}
.cleafix{
	overflow: auto;
}
#Editor {
	height: 500px;
}

#Editor td,#many-editor td,
#Editor th,#many-editor th {
	border-bottom: none;
}
#many-editor tbody,#editor tbody,
#many-editor table,#editor table{
	width: auto;
	border: none;
}

/*---------------Flash Message------------*/
.message,
.flash-message{
	border: 1px solid #BEBEBE;
	border-radius: 2px;
	margin: 8px;
	padding: 4px;
}

.success{
	background-color : rgba(105,178,65,0.1);
	border-color : rgba(105,178,65,1);
}
.success:hover{
	background-color : rgba(105,178,65,0.5);
	border-color : rgba(105,178,65,1);/*#69b241*/
}
.warning{
	background-color: rgba(255, 200, 142, 0.1);
    border-color: rgb(255, 200, 142);
}
.warning:hover{
	background-color: rgba(255, 200, 142, 0.5);
    border-color: rgb(255, 200, 142);
}
.error{
	background-color : rgba(211,28,28,0.1);
	border-color : rgba(211,28,28,1);
}
.error:hover{
	background-color : rgba(211,28,28,0.5);
	border-color : rgba(211,28,28,1);
}
.info{
	background-color : rgba(30,30,255,0.1);
	border-color : rgba(30,30,255,1);
}
.info:hover{
	background-color : rgba(30,30,255,0.5);
	border-color : rgba(30,30,255,1);
}
.debug-message{
	background-color: #000;
	color:#C397D8;
	border: solid 1px #969896;
	font-size: 16px;
	border-radius: 4px;
	padding: 4px;
}
.debug-message pre{
	padding-top: 8px;
	color: #F5DA81;
}
.debug-var{
	color:#F5DA81;
}
.debug-keyword{
	color:#7AA6DA;
}
.debug-integer{
	color:#DF5F5F;
}
.debug-source{
	color:#04B431;
}
.debug-text{
	color:#58FA58;
}